---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=1&offset=0&q=Bing%2520Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_SEARCH_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Bingapis-Market:
      - en-US
      Bingapis-Sessionid:
      - 526BDDEB46FA46119C18F66C5272F65D
      Bingapis-Traceid:
      - 7E338A3491654FEEBBA8C1076DF946A5
      Content-Type:
      - application/json; charset=utf-8
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
      X-Msapi-Userstate:
      - 199f
      X-Msedge-Clientid:
      - 31BDEFC52DAB63B030D3FE0F2CE46298
    body:
      encoding: ASCII-8BIT
      string: '{"_type": "SearchResponse", "queryContext": {"_type": "QueryContext",
        "originalQuery": "Bing%20Search"}, "rankingResponse": {"_type": "Ranking\/RankingResponse"}}'
  recorded_at: Tue, 21 Jun 2022 06:02:56 GMT
recorded_with: VCR 6.1.0
